@import '@fontsource/fira-mono';
@import '@fontsource/jetbrains-mono';
@import '@fontsource/inter';
@import '@fontsource/raleway';

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: var(--background-content);
	font-family: var(--font-body);
	color: var(--text-color);
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}


p {
	color: var(--text-color);
}

ul {
	padding-inline-start: 0px;
}

h1 {
	color: var(--text-important);
	font-family: var(--font-heading);
	font-weight: bold;
	font-size: var(--5xl);
}

h2 {
	color: var(--text-accent-color);
	font-family: var(--font-heading);
	font-weight: bold;
	font-size: var(--3xl);
}

h3 {
	color: var(--text-accent-color);
	font-family: var(--font-heading);
	font-weight: bold;
	font-size: var(--2xl);
}

code {
	color: var(--text-color);
	font-weight: 600;
}

input {
	color: var(--text-color);
	background-color: var(--input-color);
	padding: 1rem;
	border: none;
	padding: 4px;
	outline: 1px solid var(--border-secondary);
	font-size: var(--xs);
}

input:focus {
	outline: 1px var(--accent-color) solid;
}

input:invalid {
	outline: 1px var(--accent-color) solid;
}

select {
	background-color: var(--input-color);
	color: var(--text-color);
	padding: 4px;
	outline: 1px solid var(--border-secondary);
	font-size: var(--xs);
	border: none;
}

option {
	background-color: var(--input-color);
}

textarea {
	color: var(--text-accent-color);
	outline: none;
	border: none;
}

dialog {
	background-color: var(--background-alt);
	border: 1px solid var(--border-primary);
	position: absolute;
}

label {
	color: var(--text-accent-color);
	font-size: var(--sm);
}

#canvas {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 102, 255, 0.048);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--background-alt) var(--background-content);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: var(--glass-low);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--glass-med);
}

/* vim editor mode */
#status-root>span:nth-child(1) {
	font-family: var(--font-mono);
	text-transform: lowercase;
}

/* vim search */
#status-root input {
	font-family: var(--font-mono);
	padding: 0;
	background-color: transparent;
	outline: none;
}

/* vim editor key helper */
#status-root>span:nth-child(4) {
	font-family: var(--font-mono);
	text-transform: lowercase;
	justify-self: right;
}

/* Vim edtior regexp message */
#status-root>span:nth-child(2)>span:nth-child(2) {
	display: none;
}