body {

  --font-heading: 'raleway', monospace;
  --font-body: 'inter', sans-serif;
  --font-mono: sfmono-regular, menlo, monaco, consolas, 'liberation mono', 'courier new',
    monospace;
  --navbar-height: 32px;
  --icon-sm: 16px;
  --icon-md: 16px;
  --icon-lg: 24px;
  --xs: 0.75rem;
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 1.125rem;
  --xl: 1.25rem;
  --2xl: 1.5rem;
  --3xl: 1.875rem;
  --4xl: 2.25rem;
  --5xl: 3rem;
  --6xl: 3.75rem;
  --7xl: 4.5rem;
  --8xl: 6rem;
  --9xl: 8rem;

  --card-shadow: none;

  --z-modal: 1;


  --toastContainerTop: auto;
  --toastContainerLeft: auto;
  --toastContainerBottom: 1rem;
  --toastContainerRight: 1rem;
  --toastBarBackground: var(--accent-color);
  --toastBarHeight: 2px;

  --nodeColor: var(--text-color);
  --leafDefaultBackground: var(--glass-high);

}

body.dark {
  --background-content: #000000;
  --nav-color: var(--background-content);
  --background-alt: #0a0a0a;
  --background-nav: #0f0f0f;
  --background-menu: #070707;
  --accent-color: #5c8aee;
  --heading-color: rgba(0, 0, 0, 0.7);

  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;

  --text-color: #a5a5a5;
  --text-accent-color: #868686;
  --text-important: #c7c7c7;


  --glass-low: rgba(255, 255, 255, 0.033);
  --glass-med: rgba(255, 255, 255, 0.055);
  --glass-high: rgba(255, 255, 255, 0.11);

  --transparent-low: rgba(0, 0, 0, 0.65);
  --transparent-med: rgba(0, 0, 0, 0.8);
  --transparent-high: rgba(0, 0, 0, 0.9);

  --input-color: rgba(255, 255, 255, 0.027);

  --button: rgba(255, 255, 255, 0);
  --button-hovered: rgba(255, 255, 255, 0.1);
  --button-active: rgba(0, 0, 0, 0.1);

  --border-primary: rgba(255, 255, 255, 0.15);
  --border-secondary: rgba(255, 255, 255, 0.1);
  --border-tertiary: rgba(255, 255, 255, 0.075);

  --border: 1px solid var(--border-primary);
  --border2: 1px solid var(--border-secondary);

  --matrix-color: rgba(255, 255, 255, 0.15);
  --blend-mode: multiply;


  --toastBackground: var(--background-menu);
  --toastColor: var(--text-important);
  --toastBorder: 1px solid var(--border-primary);
}


body.light {

  --background-content: #dfdfdf;
  --background-alt: #C0C5C9;
  --background-nav: #CACACA;
  --background-menu: #c4c4c4;

  --accent-color: #2a53ac;
  --heading-color: rgba(0, 0, 0, 0.7);

  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;

  --nav-color: var(--background-nav);
  --text-color: rgb(117, 117, 117);
  --text-accent-color: #585858;
  --text-important: rgb(41, 41, 41);

  --glass-low: rgba(0, 0, 0, 0.1);
  --glass-med: rgba(0, 0, 0, 0.144);
  --glass-high: rgba(0, 0, 0, 0.199);

  --transparent-low: rgba(255, 255, 255, 0.5);
  --transparent-med: rgba(255, 255, 255, 0.65);
  --transparent-high: rgba(255, 255, 255, 0.8);

  --input-color: rgba(17, 17, 17, 0.034);

  --button: rgba(255, 255, 255, 0.4);
  --button-hovered: rgba(255, 255, 255, 0.3);
  --button-active: rgba(255, 255, 255, 0.877);

  --border-primary: rgb(207, 207, 207);
  --border-secondary: rgb(179, 179, 179);
  --border-teriary: rgb(200, 200, 200);
  /* --border-primary: ;
  --border-secondary: transparent;
  --border-teriary: transparent; */

  --border: none;
  --border2: none;

  --matrix-color: rgba(0, 0, 0, 0.205);

  --blend-mode: lighten;


  --accent-color: #2a53ac;
  --heading-color: rgba(0, 0, 0, 0.7);
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --box-shadow: 0px 0px 10px 2px var(--glass-low);

  border-width: 0px !important;
}