@import '@fontsource/fira-mono';
@import '@fontsource/jetbrains-mono';
@import '@fontsource/inter';
@import '@fontsource/raleway';
@import '@fontsource/roboto';
@import '@fontsource/ibm-plex-mono';

@import './split-panes.css';
@import './themes/dark.css';
@import './themes/light.css';

body {
	--font-heading: 'raleway', monospace;
	--font-body: 'Roboto', sans-serif;
	--font-button: var(--font-body);
	--font-mono: 'Fira code', sfmono-regular, menlo, monaco, consolas,
		'liberation mono', 'courier new', monospace;
	--navbar-height: 32px;

	/* 
		Sizing	
	*/
	--xs: 10px;
	--xs-icon: 10px;
	--xs-nav: 20px;
	--xs-input: var(--xs-nav);

	--sm: 12px;
	--sm-icon: 10px;
	--sm-nav: 24px;
	--sm-input: 24px;

	--md: 12px;
	--md-icon: 14px;
	--md-nav: 32px;
	--md-input: 24px;

	--lg: 1.25em;
	--lg-icon: 32px;
	--lg-nav: 48px;
	--lg-input: 40px;

	--xl: 1.4rem;
	--2xl: 1.55rem;

	--card-shadow: none;

	--z-splitter: 1;
	--z-tray: 10;
	--z-modal: 20;
	--z-completion: 30;
	--z-menu: 40;

	--handle-size: 4px;
	--half-handle-size: calc(var(--handle-size) / 2);

	--nav-height: 32px;
	--nav-gap: 4px;

	--gap: 1px;
	--gap2: calc(var(--gap) * 2);
	--gap4: calc(var(--gap) * 4);
	--gap6: calc(var(--gap) * 6);
	--gap8: calc(var(--gap) * 8);

	--border-primary-width: var(--gap);
	--border-double-width: calc(--gap2);
	--border-secondary-width: var(--gap);

	--pane-radius: 4px;
	--button-radius: var(--pane-radius);

	--toastContainerTop: auto;
	--toastContainerLeft: auto;
	--toastContainerBottom: 1rem;
	--toastContainerRight: 1rem;
	--toastBarBackground: var(--accent-color);
	--toastBarHeight: 2px;

	--nodeColor: var(--text-color);
	--leafDefaultBackground: var(--glass-high);

	--console-trace: white;
	--console-debug: grey;
	--console-info: blue;
	--console-warn: orange;
	--console-error: red;

	--color-invalid: red;

	--transition-instant: 0s;
	--transition-snappy: 25ms;
	--transition-quick: 50ms;
	--transition-smooth: 100ms;
	--transition-slow: 150ms;

	--ui-speed: var(--transition-smooth);

	--splitpanes-transition-duration: 0ms;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: var(--background-content);
	font-family: var(--font-body);
	color: var(--text-color);
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

p {
	color: var(--text-color);
}

ul {
	padding-inline-start: 0px;
}

h1 {
	color: var(--text-important);
	font-family: var(--font-heading);
	font-weight: bold;
	font-size: var(--5xl);
}

h2 {
	color: var(--text-accent-color);
	font-family: var(--font-heading);
	font-weight: bold;
	font-size: var(--3xl);
}

h3 {
	color: var(--text-accent-color);
	font-family: var(--font-mono);
	font-weight: bold;
	font-size: var(--2xl);
}

h4 {
	margin: 2px;
	font-weight: normal;
}

code {
	color: var(--text-color);
}

input {
	height: var(--md-input);
	justify-content: right;
	color: var(--text-color);
	background-color: var(--input-color);
	border: none;
	border-bottom: 1px solid transparent;
	outline: none;
	border-radius: var(--pane-radius);
	padding-inline: var(--gap4);
	box-sizing: border-box;

	/* font-family: var(--font-mono); */
	flex-grow: 1;
	flex-shrink: 1;
}

input:hover,
input:active {
	background-color: var(--input-hover);
}

select {
	cursor: pointer;
	background-color: var(--input-color);
	color: var(--text-color);
	border: none;
	border-bottom: 1px solid transparent;
	outline: none;
	border-radius: var(--pane-radius);
	box-sizing: border-box;
	/* font-family: var(--font-mono); */
	flex-grow: 1;
	font-size: var(--sm);
}

button {
	display: flex;
	gap: var(--gap4);
	padding: 0px;
	padding-inline: var(--gap4);
	min-width: var(--md-input);
	height: var(--md-input);
	font-size: var(--md);
	background-color: var(--button-color);
	color: var(--text-accent-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	box-shadow: var(--box-shadow);
	user-select: none;
	box-sizing: border-box;
}

button:disabled {
	cursor: default;
	/* background-color: red !important; */
}

button:disabled svg {
	stroke: var(--text-low);
}

button:disabled:hover svg {
	stroke: var(--text-low);
}

svg {
	fill: none;
	stroke: var(--icon-color);
	min-width: max-content;
}

button svg {
	width: var(--md-icon);
	height: var(--md-icon);
}

button:hover svg {
	stroke: var(--text-important);
}

.pi2 {
	padding-inline: var(--gap2);
}

.pi4 {
	padding-inline: var(--gap4);
}

button:disabled {
	color: var(--border-secondary);
}

button:hover:enabled {
	background-color: var(--button-hovered);
	color: var(--text-important);
}

button:hover svg {
	stroke: var(--text-important);
}

button:hover svg.filled {
	fill: var(--text-important);
}

button:active:enabled {
	color: var(--accent-color);
	background-color: transparent;
	box-shadow: none;
	outline: none;
}

select option {
	background-color: var(--input-color);
	outline: none;
}

input[type='checkbox'] {
	background-color: red;
}

input.invalid {
	outline-color: var(--color-invalid) !important;
	border-color: var(--color-invalid);
}

input:focus,
select:focus {
	outline: none;
	border-bottom: 1px solid var(--accent-color-transparent) !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

input.Cmd {
	flex: 1 1 auto;
	background-color: transparent;
	outline: none;
	font-family: var(--font-mono);
	font-size: var(--sm);
}

input,
button,
select {
	border-radius: var(--button-radius);
}

.middle {
	border-radius: 0px;
}

.start {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.end {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

/* 
	UTILITIES
*/
.flat {
	border-radius: 0px;
}

.left-flat {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.right-flat {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.top-flat {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.bottom-flat {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.round {
	border-radius: var(--pane-radius);
}

.left-round {
	border-top-left-radius: var(--pane-radius);
	border-bottom-left-radius: var(--pane-radius);
}

.right-round {
	border-top-right-radius: var(--pane-radius);
	border-bottom-right-radius: var(--pane-radius);
}

.top-round {
	border-top-left-radius: var(--pane-radius);
	border-top-right-radius: var(--pane-radius);
}

.bottom-round {
	border-bottom-left-radius: var(--pane-radius);
	border-bottom-right-radius: var(--pane-radius);
}

.hide {
	display: none;
}

.unhide {
	display: inherit;
}

.xs {
	font-size: var(--xs);
	height: var(--xs-input);
}

.xs svg {
	width: var(--xs-icon);
	height: var(--xs-icon);
	min-width: var(--xs-icon);
}

svg.xs {
	width: var(--xs-icon);
	height: var(--xs-icon);
	min-width: var(--xs-icon);
}

button.xs {
	width: var(--xs-input);
}

.sm {
	/* padding: 0 4px; */
	font-size: var(--sm);
	height: var(--sm-input);
}

.sm svg {
	width: var(--sm-icon);
	height: var(--sm-icon);
	min-width: var(--sm-icon);
}

svg.sm {
	width: var(--sm-icon);
	height: var(--sm-icon);
	min-width: var(--sm-icon);
}

button.sm {
	min-width: var(--sm-input);
}

.md {
	font-size: var(--md);
	height: var(--md-input);
}

.md svg {
	width: var(--md-icon);
	height: var(--md-icon);
	min-width: var(--md-icon);
}

svg.md {
	width: var(--md-icon);
	height: var(--md-icon);
	min-width: var(--md-icon);
}

button.md {
	min-width: var(--md-input);
}

.lg {
	font-size: var(--lg);
	height: var(--lg-input);
}

.lg svg {
	width: var(--lg-icon);
	height: var(--lg-icon);
	min-width: var(--lg-icon);
}

svg.lg {
	width: var(--lg-icon);
	height: var(--lg-icon);
	min-width: var(--lg-icon);
}

button.lg {
	min-width: var(--lg-input);
}

.no-left-border {
	border-left: none;
}

.small-icons :global(svg) {
	width: 12px;
	height: 12px;
}

.clear {
	background-color: transparent !important;
}

textarea {
	color: var(--text-accent-color);
	outline: none;
	border: none;
}

dialog {
	background-color: var(--background-alt);
	border: 1px solid var(--border-primary);
	position: absolute;
}

label {
	color: var(--text-accent-color);
	font-size: var(--sm);
}

.highlighted {
	background-color: var(--accent-color-transparent);
	color: var(--text-important);
}

#canvas {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 102, 255, 0.048);
}

.pane {
	border-radius: var(--pane-radius);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--background-alt) var(--background-content);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: var(--glass-low);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--glass-med);
}

/* ===== No-scrollbar CSS ===== */
/* Firefox */
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* vim editor mode */
#vim-status-root>span:nth-child(1) {
	font-family: var(--font-mono);
	color: var(--text-accent-color);
	font-weight: bold;
}

/* vim search */
#vim-status-root input {
	font-family: var(--font-mono);
	padding: 0;
	background-color: transparent;
	outline: none;
}

/* vim editor key helper */
#vim-status-root>span:nth-child(4) {
	font-family: var(--font-mono);
	text-transform: lowercase;
	justify-self: right;
}

/* Vim edtior regexp message */
#vim-status-root>span:nth-child(2)>span:nth-child(2) {
	display: none;
}

/* terminal */
pre {
	/* border: 1px solid silver; */
	margin: 0px;
}

.json-key {
	color: aquamarine;
}

.json-key-str {
	color: cadetblue;
}

.json-value {
	color: sienna;
}

.json-string {
	color: var(--accent-color);
}