@import '@fontsource/fira-mono';
@import '@fontsource/jetbrains-mono';
@import '@fontsource/inter';
@import '@fontsource/raleway';
@import '@fontsource/roboto';
@import '@fontsource/ibm-plex-mono';

body {
	--font-heading: 'raleway', monospace;
	--font-body: 'Roboto', sans-serif;
	--font-button: var(--font-body);
	--font-mono: 'IBM Plex Mono', sfmono-regular, menlo, monaco, consolas,
		'liberation mono', 'courier new', monospace;
	--navbar-height: 32px;

	/* 
		Sizing	
	*/
	--xs: 10px;
	--xs-icon: 10px;
	--xs-nav: 20px;
	--xs-input: var(--xs-nav);

	--sm: 12px;
	--sm-icon: 10px;
	--sm-nav: 24px;
	--sm-input: 24px;

	--md: 12px;
	--md-icon: 14px;
	--md-nav: 32px;
	--md-input: 24px;

	--lg: 1.25em;
	--lg-icon: 32px;
	--lg-nav: 48px;
	--lg-input: 40px;

	--xl: 1.4rem;
	--2xl: 1.55rem;

	--card-shadow: none;

	--z-splitter: 1;
	--z-tray: 10;
	--z-modal: 20;
	--z-completion: 30;
	--z-menu: 40;

	--handle-size: 4px;
	--half-handle-size: calc(var(--handle-size) / 2);

	--nav-height: 32px;
	--nav-gap: 4px;

	--gap: 1px;
	--gap2: calc(var(--gap) * 2);
	--gap4: calc(var(--gap) * 4);
	--gap6: calc(var(--gap) * 6);
	--gap8: calc(var(--gap) * 8);

	--border-primary-width: var(--gap);
	--border-double-width: calc(--gap2);
	--border-secondary-width: var(--gap);

	--pane-radius: 4px;
	--button-radius: var(--pane-radius);

	--toastContainerTop: auto;
	--toastContainerLeft: auto;
	--toastContainerBottom: 1rem;
	--toastContainerRight: 1rem;
	--toastBarBackground: var(--accent-color);
	--toastBarHeight: 2px;

	--nodeColor: var(--text-color);
	--leafDefaultBackground: var(--glass-high);

	--console-trace: white;
	--console-debug: grey;
	--console-info: blue;
	--console-warn: orange;
	--console-error: red;

	--color-invalid: red;

	--transition-instant: 0s;
	--transition-snappy: 25ms;
	--transition-quick: 50ms;
	--transition-smooth: 100ms;
	--transition-slow: 150ms;

	--ui-speed: var(--transition-smooth);

	--splitpanes-transition-duration: 0ms;
}

body.dark {
	--background-content: #a70e0e;
	--background-alt: #070707;
	--background-nav: #0b0b0b;
	--background-menu: #080808;

	--accent-color: #5c8aee;
	--accent-color-transparent: #5c8aee7e;

	--heading-color: rgba(0, 0, 0, 0.7);

	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--text-color: #969595;
	--text-accent-color: #777777;
	--text-low: #646464;
	--text-important: #c7c7c7;

	--glass-low: rgba(255, 255, 255, 0.04);
	--glass-med: rgba(255, 255, 255, 0.055);
	--glass-high: rgba(255, 255, 255, 0.07);

	--transparent-low: rgba(0, 0, 0, 0.65);
	--transparent-med: rgba(0, 0, 0, 0.8);
	--transparent-high: rgba(0, 0, 0, 0.9);

	--input-color: rgb(19, 19, 19);

	--button-color: rgba(27, 27, 27);
	--button-hovered: rgb(39, 39, 39);
	--button-active: rgba(0, 0, 0, 0.1);

	--icon-color: var(--text-accent-color);

	--border-primary: rgb(17, 17, 17);
	--border-secondary: rgb(20, 20, 20);
	--border-tertiary: rgba(255, 255, 255, 0.075);

	--border: var(--border-primary-width) solid var(--border-primary);
	--border2: var(--border-double-width) solid var(--border-primary);

	--matrix-color: rgba(255, 255, 255, 0.15);
	--blend-mode: multiply;

	--toastBackground: var(--background-menu);
	--toastColor: var(--text-important);
	--toastBorder: 1px solid var(--border-primary);
}

body.light {
	--background-content: #dfdfdf;
	--nav-color: var(--background-content);
	--background-alt: #c7c7c7;
	--background-nav: #bebebb;
	--background-menu: #c4c4c4;

	--border-primary: rgb(167, 167, 167);
	--border-secondary: rgb(20, 20, 20);
	--border-tertiary: rgba(255, 255, 255, 0.075);

	--accent-color: #5c8aee;
	--accent-color-transparent: #5c8aee7e;

	--heading-color: rgba(0, 0, 0, 0.7);

	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--text-color: #525252;
	--text-accent-color: #5e5e5e;
	--text-important: #464646;

	--glass-low: rgba(0, 0, 0, 0.04);
	--glass-med: rgba(0, 0, 0, 0.055);
	--glass-high: rgba(0, 0, 0, 0.07);

	--transparent-low: rgba(0, 0, 0, 0.65);
	--transparent-med: rgba(0, 0, 0, 0.8);
	--transparent-high: rgba(0, 0, 0, 0.9);

	--input-color: rgb(205, 211, 209);

	--button-color: rgb(202, 202, 202);
	--button-hovered: rgba(255, 255, 255, 0.1);
	--button-active: rgba(0, 0, 0, 0.1);

	--icon-color: var(--text-accent-color);

	--border: var(--border-primary-width) solid var(--border-primary);
	--border2: var(--border-double-width) solid var(--border-primary);

	--matrix-color: rgba(255, 255, 255, 0.15);
	--blend-mode: multiply;

	--toastBackground: var(--background-menu);
	--toastColor: var(--text-important);
	--toastBorder: 1px solid var(--border-primary);
}
